.bayong-vector-1,
.bg-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1128px;
  height: 967px;
  object-fit: cover;
}
.bayong-vector-1 {
  width: 120.8px;
  height: 123px;
}
.b {
  position: absolute;
  top: 41px;
  left: 41px;
  display: inline-block;
  width: 43.2px;
  height: 77.6px;
  -webkit-text-stroke: 1px #fff;
}
.bayong-vector-1-container,
.bayong-vector-1-group,
.bayong-vector-1-parent {
  position: absolute;
  top: 93px;
  left: 23px;
  width: 120.8px;
  height: 123px;
}
.bayong-vector-1-container,
.bayong-vector-1-group {
  left: 231.6px;
}
.bayong-vector-1-container {
  left: 430.2px;
}
.bayong-vector-1-parent1,
.bayong-vector-1-parent2,
.group-div {
  position: absolute;
  top: 93px;
  left: 638.8px;
  width: 120.8px;
  height: 123px;
}
.bayong-vector-1-parent1,
.bayong-vector-1-parent2 {
  left: 827.4px;
}
.bayong-vector-1-parent2 {
  top: 216px;
  left: 24.9px;
}
.b9,
.bayong-vector-1-parent3,
.bayong-vector-1-parent4,
.bayong-vector-1-parent5 {
  position: absolute;
  top: 216px;
  left: 233.5px;
  width: 120.8px;
  height: 123px;
}
.b9,
.bayong-vector-1-parent4,
.bayong-vector-1-parent5 {
  left: 432.1px;
}
.b9,
.bayong-vector-1-parent5 {
  left: 640.7px;
}
.b9 {
  top: 43.6px;
  left: 27.2px;
  display: inline-block;
  width: 75.6px;
  height: 82.4px;
  -webkit-text-stroke: 1px #fff;
}
.b10,
.bayong-vector-1-parent6 {
  position: absolute;
  top: 216px;
  left: 829.3px;
  width: 120.8px;
  height: 126px;
}
.b10 {
  top: 45.5px;
  left: 25.2px;
  display: inline-block;
  width: 79.4px;
  height: 74.6px;
  -webkit-text-stroke: 1px #fff;
}
.b11,
.bayong-vector-1-parent7 {
  position: absolute;
  top: 342px;
  left: 25.9px;
  width: 120.8px;
  height: 123px;
}
.b11 {
  top: 42.6px;
  left: 21.6px;
  display: inline-block;
  width: 82.4px;
  height: 77.5px;
  -webkit-text-stroke: 1px #fff;
}
.b12,
.bayong-vector-1-parent8 {
  position: absolute;
  top: 342px;
  left: 234.5px;
  width: 120.8px;
  height: 123px;
}
.b12 {
  top: 44.6px;
  left: 22.8px;
  display: inline-block;
  width: 80.4px;
  height: 77.5px;
  -webkit-text-stroke: 1px #fff;
}
.b13,
.bayong-vector-1-parent9 {
  position: absolute;
  top: 342px;
  left: 433.1px;
  width: 120.8px;
  height: 123px;
}
.b13 {
  top: 42.6px;
  left: 23.1px;
  display: inline-block;
  width: 77.5px;
  height: 77.5px;
  -webkit-text-stroke: 1px #fff;
}
.b14,
.bayong-vector-1-parent10 {
  position: absolute;
  top: 342px;
  left: 641.7px;
  width: 120.8px;
  height: 123px;
}
.b14 {
  top: 40.7px;
  left: 23.4px;
  display: inline-block;
  width: 79.4px;
  height: 77.5px;
  -webkit-text-stroke: 1px #fff;
}
.b15,
.bayong-vector-1-parent11 {
  position: absolute;
  top: 342px;
  left: 830.3px;
  width: 120.8px;
  height: 123px;
}
.b15 {
  top: 40.7px;
  left: 25.2px;
  display: inline-block;
  width: 77.5px;
  height: 77.5px;
  -webkit-text-stroke: 1px #fff;
}
.b16,
.bayong-vector-1-parent12 {
  position: absolute;
  top: 465px;
  left: 27.8px;
  width: 120.8px;
  height: 123px;
}
.b16 {
  top: 40.7px;
  left: 23.5px;
  display: inline-block;
  width: 80.4px;
  height: 77.5px;
  -webkit-text-stroke: 1px #fff;
}
.b17,
.bayong-vector-1-parent13 {
  position: absolute;
  top: 465px;
  left: 236.4px;
  width: 120.8px;
  height: 123px;
}
.b17 {
  top: 40.7px;
  left: 26.7px;
  display: inline-block;
  width: 76.5px;
  height: 77.5px;
  -webkit-text-stroke: 1px #fff;
}
.b18,
.bayong-vector-1-parent14 {
  position: absolute;
  top: 465px;
  left: 435px;
  width: 120.8px;
  height: 123px;
}
.b18 {
  top: 40.7px;
  left: 26px;
  display: inline-block;
  width: 76.5px;
  height: 77.5px;
  -webkit-text-stroke: 1px #fff;
}
.b19,
.bayong-vector-1-parent15 {
  position: absolute;
  top: 465px;
  left: 643.6px;
  width: 120.8px;
  height: 123px;
}
.b19 {
  top: 44px;
  left: 26.8px;
  display: inline-block;
  width: 89px;
  height: 82px;
  -webkit-text-stroke: 1px #fff;
}
.bayong-vector-1-parent16 {
  position: absolute;
  top: 465px;
  left: 832.2px;
  width: 120.8px;
  height: 126px;
}
.premyo-sa-bayong {
  position: absolute;
  top: -11px;
  left: 107px;
  font-family: var(--font-erica-one);
  color: var(--color-white);
}
.bg-1-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 600px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-51xl);
  color: var(--color-mediumblue);
  font-family: var(--font-anonymous-pro);
}
